@model CreateAppRoleDto

@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Rol Ekleme Alanı</h4>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Adı</label>
                                <input required="" type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Rol Adını Giriniz.">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Yeni Rol Ekle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>