@model List<ResultAppRoleDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}



<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <a href="/AdminUser/CreateRole/" class="btn btn-outline-success">Yeni Rol Ekle</a><br /><br />
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Rol Listesi</h4>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Rol Adı</th>                                        
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Name</td>                                            
                                            <td><a href="/AdminRole/UpdateRole/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                                            <td><a href="/AdminRole/RemoveRole/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/AdminRole/CreateRole/" class="btn btn-outline-success">Yeni Rol Ekle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
