<div class="vertical-menu">

    <div data-simplebar class="h-100">
        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    Admin Panel
                </span>
            </a>
        </div>
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menü</li>
                <li><a href="/Admin/Dashboard/Index" class="waves-effect"><i class="feather-airplay"></i><span>Dashboard</span></a></li>                
                <li><a href="/AdminCar/Index/" class="waves-effect"><i class="fas fa-car-side"></i><span>Araçlar</span></a></li>
                <li><a href="/AdminArvento/Index/" class="waves-effect"><i class="fas fa-chart-pie"></i><span>Arventolar</span></a></li>
                <li><a href="/AdminUser/Index/" class="waves-effect"><i class="fas fa-person-booth"></i><span>Personeller</span></a></li>
                <li><a href="/AdminRole/Index/" class="waves-effect"><i class="fab fa-critical-role"></i><span>Rol Yönetimi</span></a></li>
                <li><a href="/Profile/Index/" class="waves-effect"><i class="fas fa-home"></i><span>Siteye Git</span></a></li>
                <li><a href="/Profile/Index" class="waves-effect"><i class="mdi mdi-face-profile"></i><span>Ayarlar</span></a></li>
                <li><a href="/Login/Logout" class="waves-effect"><i class="fas fa-window-close"></i><span>Çıkış Yap</span></a></li>
            </ul>
        </div>     
    </div>
</div>